<!-- Validation failure messages -->
<% if @mentorship_pairing.errors.any? %>
  <% @mentorship_pairing.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Mentorship Pairing</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_mentorship_pairing" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for mentor_id -->
      <div class="form-group">
        <label for="mentor_id" class="control-label">
          Mentor
        </label>

        <input type="text" id="mentor_id" name="mentor_id" placeholder="Mentor" class="form-control" value="<%= @mentorship_pairing.mentor_id %>">
      </div>

      <!-- Label and input for mentee_id -->
      <div class="form-group">
        <label for="mentee_id" class="control-label">
          Mentee
        </label>

        <input type="text" id="mentee_id" name="mentee_id" placeholder="Mentee" class="form-control" value="<%= @mentorship_pairing.mentee_id %>">
      </div>

      <button class="btn btn-success">
        Create Mentorship Pairing
      </button>
      or
      <a href="/mentorship_pairings">Cancel</a>
    </form>
  </div>
</div>
