<!-- Validation failure messages -->
<% if @mentorship_pairing.errors.any? %>
  <% @mentorship_pairing.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Mentorship Pairing</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_mentorship_pairing" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for mentor_id -->
      <div class="form-group">
        <label for="mentor_id" class="control-label">
          Mentor
        </label>

        <%= select_tag(:mentor_id, options_from_collection_for_select(User.all, :id, :email, @mentorship_pairing.mentor_id), :class => "form-control") %>
      </div>

      <!-- Label and input for mentee_id -->
      <div class="form-group">
        <label for="mentee_id" class="control-label">
          Mentee
        </label>

        <%= select_tag(:mentee_id, options_from_collection_for_select(User.all, :id, :email, @mentorship_pairing.mentee_id), :class => "form-control") %>
      </div>

      <button class="btn btn-success">
        Create Mentorship Pairing
      </button>
      or
      <a href="/mentorship_pairings">Cancel</a>
    </form>
  </div>
</div>
